{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "experimentalTernaries": false,
  "experimentalOperatorPosition": "end",
  "filepath": "",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "",
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "rangeEnd": null,
  "rangeStart": 0,
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "objectWrap": "preserve",
  "checkIgnorePragma": false
}
